@model SharpQuiz.Models.PaginatedList<SharpQuiz.Domain.Entity.Chapter>

<h2>Разделы</h2>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Номер</th>
            <th>Название</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var chapter in Model)
        {
            <tr>
                <td>@chapter.Number</td>
                <td>@chapter.Name</td>
                <td>
                    <a href="@Url.Action("Edit", "Chapter", new { id = chapter.Id })" class="btn btn-outline-primary">Редактировать раздел</a>
                    <a href="@Url.Action("Delete", "Chapter", new { id = chapter.Id })" class="btn btn-outline-danger">Удалить раздел</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

<div class="text-center">
    @if (Model.HasPreviousPage)
    {
        <a asp-action="Index" asp-route-page="@(Model.PageIndex - 1)" class="btn btn-outline-primary">Previous</a>
    }
    @if (Model.HasNextPage)
    {
        <a asp-action="Index" asp-route-page="@(Model.PageIndex + 1)" class="btn btn-outline-primary">Next</a>
    }
</div>

<div class="text-center mt-4">
    <a href="@Url.Action("Create", "Chapter")" class="btn btn-success">Добавить новый раздел</a>
</div>