@model SharpQuiz.Models.PaginatedList<SharpQuiz.Domain.Entity.Book>

<h2>Курсы</h2>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Номер</th>
            <th>Название</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var book in Model)
        {
            <tr>
                <td>@book.Number</td>
                <td>@book.Name</td>
                <td>
                    <a href="@Url.Action("Edit", "Book", new { id = book.Id })" class="btn btn-outline-primary">Редактировать курс</a>
                    <a href="@Url.Action("Delete", "Book", new { id = book.Id })" class="btn btn-outline-danger">Удалить курс</a>
                </td>
            </tr>
        }
        </tbody>
    </table>
</div>

<div class="text-center">
    @if (Model.HasPreviousPage)
    {
        <a asp-action="Index" asp-route-page="@(Model.PageIndex - 1)" class="btn btn-outline-primary">Previous</a>
    }
    @if (Model.HasNextPage)
    {
        <a asp-action="Index" asp-route-page="@(Model.PageIndex + 1)" class="btn btn-outline-primary">Next</a>
    }
</div>

<div class="text-center mt-4">
    <a href="@Url.Action("Create", "Book")" class="btn btn-success">Добавить новый курс</a>
</div>